<launch>
    <!-- 加载双机器人 Gazebo 场景 -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_playground_multi.launch"/>
  
    <!-- 发布两个机器人位置 -->
    <node pkg="find turtlebot3_gazebo" type="pose_broadcaster.py" name="pose_broadcaster" output="screen"/>
  
    <!-- 模拟目标检测 -->
    <node pkg="find turtlebot3_gazebo" type="tb2_publish_target.py" name="target_pub" output="screen"/>
  
    <!-- 可选：你也可以在这里添加 tb1 订阅目标并执行路径的 node -->
  </launch>
  