<launch>
  <!-- Robot 1: TurtleBot3_1 -->
  <group ns="tb3_1">
      <!-- Run move_base for tb3_1 -->
      <node pkg="move_base" type="move_base" name="move_base">
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="global_costmap" />
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="local_costmap" />
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/global_costmap_params.yaml" command="load" />
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/local_costmap_params.yaml" command="load" />
          <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
          <param name="base_local_planner" value="wpbh_local_planner/WpbhLocalPlanner" />
      </node>

      <!-- Run map server for tb3_1 -->
      <node pkg="map_server" type="map_server" name="map_server" args="$(find nav_pkg)/map/map.yaml"/>

      <!-- Run AMCL for tb3_1 -->
      <node pkg="amcl" type="amcl" name="amcl"/>

      <!-- Run rviz for tb3_1 -->
      <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wpr_simulation)/rviz/nav.rviz"/> -->
  </group>

  <!-- Robot 2: TurtleBot3_2 -->
  <group ns="tb3_2">
      <!-- Run move_base for tb3_2 -->
      <node pkg="move_base" type="move_base" name="move_base">
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="global_costmap" />
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="local_costmap" />
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/global_costmap_params.yaml" command="load" />
          <rosparam file="$(find wpb_home_tutorials)/nav_lidar/local_costmap_params.yaml" command="load" />
          <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
          <param name="base_local_planner" value="wpbh_local_planner/WpbhLocalPlanner" />
      </node>

      <!-- Run map server for tb3_2 -->
      <node pkg="map_server" type="map_server" name="map_server" args="$(find nav_pkg)/map/map.yaml"/>

      <!-- Run AMCL for tb3_2 -->
      <node pkg="amcl" type="amcl" name="amcl"/>

      <!-- Run rviz for tb3_2 -->
      <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wpr_simulation)/rviz/nav.rviz"/> -->
  </group>
</launch>
